<%= form_with(model: spending, html: {class: "d-flex flex-column",style:"height:100vh;"}) do |form| %>

  <div class="mb-auto h-100">
    <div class="field">
      <%= form.text_field :name,class: 'form-control p-3 border-bottom', required: true, placeholder: 'Name' %>
    </div>
    <div class="field">
      <%= form.select :type_id, @types.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select One Type'}, { :class => 'form-select p-3 border-bottom' } %>
    </div>
    <div class="field">
      <%= form.text_field :amount,class: 'form-control p-3 border-bottom', placeholder: 'Amount', required: true %>
    </div>
  </div>
  <div class="p-5 bg-success">
    <%= form.submit class: 'btn btn-success p-3 w-100 border border-white' %>
  </div>

<% end %>
